# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 200
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterFunction: false
    AfterEnum: true
    AfterNamespace: false
    BeforeElse: true
CompactNamespaces: false
NamespaceIndentation: All
FixNamespaceComments: true
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: true
Cpp11BracedListStyle: false