<?xml version="1.0" encoding="utf-8"?>
<!-- if you change this file, make sure to tick the versionCode in AndroidManifest. -->
<plugin>

    <extension
        type="transapps.maps.plugin.lifecycle.Lifecycle"
        impl="com.atakmap.android.helloworld.plugin.HelloWorldLifecycle"
        singleton="true" />

    <extension
        type="transapps.maps.plugin.tool.ToolDescriptor"
        impl="com.atakmap.android.helloworld.plugin.HelloWorldTool"
        singleton="true" />

</plugin>
